<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima Atual</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Clima Atual</h1>
        <div class="search-bar">
            <input type="text" id="city" placeholder="Digite a cidade">
            <button onclick="fetchWeather()">Pesquisar</button>
        </div>
        <div id="error"></div>
        <div id="weather"></div>
        <div id="history">
            <h2>Histórico de Pesquisa</h2>
            <table id="content">
                <thead>
                    <tr>
                        <th>Cidade</th>
                        <th>Temperatura</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
